
.mg-alert {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.mg-alert p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.front_page .picset {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 125px;
}

.front_page .picset div img {
    max-width: 150px;
    max-height: 105px;
}
.front_page .picset div {
    height: 102px;
}

.picset_page .pic {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 125px;
}

.picset_page .pic img {
    max-width: 150px;
    max-height: 105px;
}