<div class="container front_page">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div ng-repeat="picset in picsets" class="picset">
                    <div>
                        <a href="#!/picset?path={{picset.path}}"><img ng-src="{{domain}}/photos/{{picset.image}}"/></a>
                    </div>
                    <a href="#!/picset?path={{picset.path}}">{{picset.name}}</a>
                </div>
            </section>
        </div>
    </div>
</div>
