<div class="container pic_page">
    <div class="row">
        <div class="col-md-12">
            <section>
                <img class="img-responsive" ng-src="{{domain}}/{{pic.image}}"/>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="face in pic.data.FaceRecords">
                <a href="#!/search?imageid={{face.Face.ImageId}}&faceid={{face.Face.FaceId}}">{{face.Face.FaceId}}</a>
            </div>
        </div>
    </div>
</div>
